@import '../global/mixins';
@import '../global/colors';

// Random color scheme

.gem-color-0 { @include gem-color(#FE0101) }
.gem-color-1 { @include gem-color(#FE6002) }
.gem-color-2 { @include gem-color(#CC3FF9) }
.gem-color-3 { @include gem-color(#E1CA2F) }
.gem-color-4 { @include gem-color(#FF8566) }
.gem-color-5 { @include gem-color(#09E8F8) }
.gem-color-6 { @include gem-color(#F1FD23) }
.gem-color-7 { @include gem-color(#64BE4C) }
.gem-color-8 { @include gem-color(#C38135) }
