body {
  font: normal 15px/1.5 Verdana, Geneva, sans-serif; }

a {
  text-decoration: none;
  color: #113F8C; }

.gem-section {
  margin: 30px;
  overflow: auto; }

.gem-group-heading {
  float: left;
  overflow: auto;
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  padding-bottom: 30px;
  margin-top: 15px; }

.gem-group-heading h4 {
  font-size: 20px;
  line-height: 1.5;
  padding: 0 30px; }

.gem-group {
  width: 95%;
  float: left;
  margin: -30px 0 0 60px;
  overflow: auto; }

.gems {
  overflow: auto;
  margin: 20px 50px; }

.main-gem {
  position: relative;
  float: left;
  width: 220px;
  height: 160px; }

.gem {
  position: absolute;
  width: 170px;
  height: 110px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  border: 3px solid #616161;
  color: #616161; }
  .gem a {
    color: #616161; }
  .gem h4 {
    font: bold 15px Verdana;
    line-height: 1.2;
    padding: 10px 0 5px 10px;
    margin: 0; }

.icon {
  font-size: 30px;
  position: absolute;
  font-weight: bold; }

.documentation {
  bottom: -28px;
  left: -18px; }

.github {
  bottom: -22px;
  right: -23px; }

.error {
  bottom: -14px;
  right: -20px;
  color: #e54028; }
