.gem-color-1 {
  border: 3px solid #FE0101;
  color: #FE0101; }
  .gem-color-1 a {
    color: #FE0101; }

.gem-color-2 {
  border: 3px solid #FE6002;
  color: #FE6002; }
  .gem-color-2 a {
    color: #FE6002; }

.gem-color-3 {
  border: 3px solid #CC3FF9;
  color: #CC3FF9; }
  .gem-color-3 a {
    color: #CC3FF9; }

.gem-color-4 {
  border: 3px solid #E1CA2F;
  color: #E1CA2F; }
  .gem-color-4 a {
    color: #E1CA2F; }

.gem-color-5 {
  border: 3px solid #FF8566;
  color: #FF8566; }
  .gem-color-5 a {
    color: #FF8566; }

.gem-color-6 {
  border: 3px solid #09E8F8;
  color: #09E8F8; }
  .gem-color-6 a {
    color: #09E8F8; }

.gem-color-7 {
  border: 3px solid #F1FD23;
  color: #F1FD23; }
  .gem-color-7 a {
    color: #F1FD23; }

.gem-color-8 {
  border: 3px solid #64BE4C;
  color: #64BE4C; }
  .gem-color-8 a {
    color: #64BE4C; }

.gem-color-9 {
  border: 3px solid #C38135;
  color: #C38135; }
  .gem-color-9 a {
    color: #C38135; }
