.gem-color-1 {
  border: 3px solid #E0FDEC;
  color: #E0FDEC; }
  .gem-color-1 a {
    color: #113F8C; }

.gem-color-2 {
  border: 3px solid #FFF6AB;
  color: #FFF6AB; }
  .gem-color-2 a {
    color: #FFF6AB; }

.gem-color-3 {
  border: 3px solid #6CE1D9;
  color: #6CE1D9; }
  .gem-color-3 a {
    color: #6CE1D9; }

.gem-color-4 {
  border: 3px solid #F95174;
  color: #F95174; }
  .gem-color-4 a {
    color: #F95174; }

.gem-color-5 {
  border: 3px solid #4B6355;
  color: #4B6355; }
  .gem-color-5 a {
    color: #4B6355; }

.gem-color-6 {
  border: 3px solid #F1E2CB;
  color: #F1E2CB; }
  .gem-color-6 a {
    color: #F1E2CB; }

.gem-color-7 {
  border: 3px solid #FCCCD2;
  color: #FCCCD2; }
  .gem-color-7 a {
    color: #FCCCD2; }

.gem-color-8 {
  border: 3px solid #6A8491;
  color: #6A8491; }
  .gem-color-8 a {
    color: #6A8491; }

.gem-color-9 {
  border: 3px solid #7DCE84;
  color: #7DCE84; }
  .gem-color-9 a {
    color: #7DCE84; }
