// Colors from: http://www.colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo

$midnight-blue: #113F8C;
$forest-green: #32742C;
$orange: #F18D05;
$fuchsia: #D70060;
$teal: #01A4A4;
$kelly-green: #61AE24;
$aqua-blue: #00A1CB;
$mustard: #D0D102;
$red: #E54028;

// Colors from: http://www.colourlovers.com/pattern/3942206/Archis_%E2%99%A5_%E2%99%A5_%E2%99%A5

$mint: #E0FDEC;
$buttercream: #FFF6AB;
$aquamarine: #6CE1D9;
$pink: #F95174;
$forest-green-archis: #4B6355;
$taupe: #F1E2CB;
$rose: #FCCCD2;
$slate: #6A8491;
$green: #7DCE84;

// Colors from a bunch of places

