

@mixin gem-color($color) {
  border: 3px solid $color;
  color: $color;
  a {
    color: $color;
  }
}

@mixin gem-color-override($color) {
  border: 3px solid $color !important;
  color: $color !important;
  a {
    color: $color !important;
  }
}
