// Colors from: http://www.colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo
// gem-color-0 defaults to dark gray

// midnight blue
.gem-color-1 {
  border: 3px solid #113F8C;
  color: #113F8C;
  a {
    color: #113F8C;
  }
}
// forest green
.gem-color-2 {
  border: 3px solid #32742C;
  color: #32742C;
  a {
    color: #32742C;
  }
}
// orange
.gem-color-3 {
  border: 3px solid #F18D05;
  color: #F18D05;
  a {
    color: #F18D05;
  }
}
// fuchsia
.gem-color-4 {
  border: 3px solid #D70060;
  color: #D70060;
  a {
    color: #D70060;
  }
}
// teal
.gem-color-5 {
  border: 3px solid #01A4A4;
  color: #01A4A4;
  a {
    color: #01A4A4;
  }
}
// kelly green
.gem-color-6 {
  border: 3px solid #61AE24;
  color: #61AE24;
  a {
    color: #61AE24;
  }
}
// aqua blue
.gem-color-7 {
  border: 3px solid #00A1CB;
  color: #00A1CB;
  a {
    color: #00A1CB;
  }
}
// mustard
.gem-color-8 {
  border: 3px solid #D0D102;
  color: #D0D102;
  a {
    color: #D0D102;
  }
}
// red
.gem-color-9 {
  border: 3px solid #E54028;
  color: #E54028;
  a {
    color: #E54028;
  }
}
