// Colors from: http://www.colourlovers.com/pattern/3942206/Archis_%E2%99%A5_%E2%99%A5_%E2%99%A5
// gem-color-0 defaults to dark gray

// mint
.gem-color-1 {
  border: 3px solid #E0FDEC;
  color: #E0FDEC;
  a {
    color: #E0FDEC;
  }
}
// buttercream
.gem-color-2 {
  border: 3px solid #FFF6AB;
  color: #FFF6AB;
  a {
    color: #FFF6AB;
  }
}
// aquamarine
.gem-color-3 {
  border: 3px solid #6CE1D9;
  color: #6CE1D9;
  a {
    color: #6CE1D9;
  }
}
// pink
.gem-color-4 {
  border: 3px solid #F95174;
  color: #F95174;
  a {
    color: #F95174;
  }
}
// forest green
.gem-color-5 {
  border: 3px solid #4B6355;
  color: #4B6355;
  a {
    color: #4B6355;
  }
}
// taupe
.gem-color-6 {
  border: 3px solid #F1E2CB;
  color: #F1E2CB;
  a {
    color: #F1E2CB;
  }
}
// rose
.gem-color-7 {
  border: 3px solid #FCCCD2;
  color: #FCCCD2;
  a {
    color: #FCCCD2;
  }
}
// slate
.gem-color-8 {
  border: 3px solid #6A8491;
  color: #6A8491;
  a {
    color: #6A8491;
  }
}
// green
.gem-color-9 {
  border: 3px solid #7DCE84;
  color: #7DCE84;
  a {
    color: #7DCE84;
  }
}
