.gem-color-1 {
  border: 3px solid #113f8c;
  color: #113f8c; }
  .gem-color-1 a {
    color: #113f8c; }

.gem-color-2 {
  border: 3px solid #32742c;
  color: #32742c; }
  .gem-color-2 a {
    color: #32742c; }

.gem-color-3 {
  border: 3px solid #f18d05;
  color: #f18d05; }
  .gem-color-3 a {
    color: #f18d05; }

.gem-color-4 {
  border: 3px solid #d70060;
  color: #d70060; }
  .gem-color-4 a {
    color: #d70060; }

.gem-color-5 {
  border: 3px solid #01a4a4;
  color: #01a4a4; }
  .gem-color-5 a {
    color: #01a4a4; }

.gem-color-6 {
  border: 3px solid #61ae24;
  color: #61ae24; }
  .gem-color-6 a {
    color: #61ae24; }

.gem-color-7 {
  border: 3px solid #00a1cb;
  color: #00a1cb; }
  .gem-color-7 a {
    color: #00a1cb; }

.gem-color-8 {
  border: 3px solid #d0d102;
  color: #d0d102; }
  .gem-color-8 a {
    color: #d0d102; }

.gem-color-9 {
  border: 3px solid #e54028;
  color: #e54028; }
  .gem-color-9 a {
    color: #e54028; }
