.gem-color-0 {
  border: 3px solid #fe0101;
  color: #fe0101; }
  .gem-color-0 a {
    color: #fe0101; }

.gem-color-1 {
  border: 3px solid #fe6002;
  color: #fe6002; }
  .gem-color-1 a {
    color: #fe6002; }

.gem-color-2 {
  border: 3px solid #cc3ff9;
  color: #cc3ff9; }
  .gem-color-2 a {
    color: #cc3ff9; }

.gem-color-3 {
  border: 3px solid #e1ca2f;
  color: #e1ca2f; }
  .gem-color-3 a {
    color: #e1ca2f; }

.gem-color-4 {
  border: 3px solid #ff8566;
  color: #ff8566; }
  .gem-color-4 a {
    color: #ff8566; }

.gem-color-5 {
  border: 3px solid #09e8f8;
  color: #09e8f8; }
  .gem-color-5 a {
    color: #09e8f8; }

.gem-color-6 {
  border: 3px solid #f1fd23;
  color: #f1fd23; }
  .gem-color-6 a {
    color: #f1fd23; }

.gem-color-7 {
  border: 3px solid #64be4c;
  color: #64be4c; }
  .gem-color-7 a {
    color: #64be4c; }

.gem-color-8 {
  border: 3px solid #c38135;
  color: #c38135; }
  .gem-color-8 a {
    color: #c38135; }
